Non-standard API behaviour for reserved characters in database names

CouchDB [allows database names](https://docs.couchdb.org/en/stable/api/database/common.html#put--db) with reserved characters (following [RFC 3986, section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2)) like `+` and `/`. The CouchDB HTTP API requires clients to encode such characters, although a `+` shouldn't have to be encoded in path segments, according to [RFC 3986, section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3).

## Description

Creating a database `foo+234` works via the Fauxton web ui. Trying the same via `curl` won't work without manual encoding to `foo%2B234`.

## Steps to Reproduce

Fails:

```
$ curl -v -X PUT 'http://localhost:5984/foo+234'
> PUT /foo+234 HTTP/1.1
...
< HTTP/1.1 400 Bad Request
...
{"error":"illegal_database_name","reason":"Name: 'foo 234'. Only lowercase characters (a-z), digits (0-9), and any of the characters _, $, (, ), +, -, and / are allowed. Must begin with a letter."}
```

Succeeds:

```
$ curl -v -X PUT 'http://localhost:5984/foo%2B234'
> PUT /foo%2B234 HTTP/1.1
...
< HTTP/1.1 201 Created
...
{"ok":true}
```

`GET /all_dbs` shows the database name in non-encoded form:

```
$ curl http://localhost:5984/_all_dbs
["_replicator","_users","foo+234"]
```

## Expected Behaviour

Using the following characters in database names shouldn't require encoding (list is taken from "sub-delims" in the mentioned RFC):
`"!" / "$" / "&" / "'" / "(" / ")" / "*" / "+" / "," / ";" / "="`

## Your Environment

* CouchDB version used: 1.7.2 and 2.3.1
* Browser name and version: Chrome 86.0.4240.111
* Operating system and version: macOS, CouchDB running a Docker container

## Additional Context

I'm aware of #825 and #828 and therefore would expect an answer like "won't fix, due to compatibility reasons"... but hey, maybe there's some kind of improvement possible on the HTTP API layer :)


Ah, thanks for a thorough bug report @gesellix. I do wonder if we can improve this.

Looking at the intersection of RFC3986 sub-delims and the allowed characters in database names the only issue we have is with `+`. The function in mochiweb that we use to unquote the path segments does specifically swap `+` for a ` `. We don't have any ambiguity with a user wanting to create a DB with a space in the name as that's not allowed.

Document IDs would be significantly more complicated and I think not worth the risk of trying to change our encoding rules.









Thanks for the feedback @kocolosk.

If I understand correctly, you're saying that we might have a chance to fix the handling of database names in url paths, but document ids _in url paths_ might be problematic and would need a special handling?

If so: is there a chance to apply such a special handling to make the behaviour for clients more transparent and don't force them to apply CouchDB specific encoding?


I think this is a duplicate of https://github.com/apache/couchdb/issues/2235

CouchDB's non-spec compliant handling of `+` characters in path segments of URLs is a long standing issue (note that #2235 was dervied from a JIRA originally opened in 2010) that irks all client side code following standard URL encoding practices.

I'd love to see this resolved so the API aligned with standards, but the problems of compatibility with existing code that rely on the current behaviour of `+` in the path definitely shouldn't be underestimated.

I agree. Closing as duplicate.