Set-Cookie Expires field date format

This is either a spec issue or a documentation issue.

## Steps to reproduce
1. Set the config value `couch_httpd_auth.allow_persistent_cookies` to `true`
2. `POST` username and password to `/_session` as described in [docs](http://docs.couchdb.org/en/stable/api/server/authn.html?highlight=set-cookie#post--_session)

## Results

The response contains a header of this form:

```
Set-Cookie: AuthSession=cm9vdDo1MEJCRkYwMjq0LO0ylOIwShrgt8y-UkhI-c6BGw; Version=1; Expires=Thu, 20-Sep-2018 11:24:18 GMT; Max-Age=86400; Path=/; HttpOnly; Secure
```

## Issue

We are concerned with the `Expires` value:
```
Expires=Thu, 20-Sep-2018 11:24:18 GMT
```

Does this date format implement any known RFC?


[RFC6265](https://tools.ietf.org/html/rfc6265#section-4.1.1) defines the `Set-Cookie` field, and specifies that the `Expires` date is defined in [RFC2616, Section 3.3.1](https://tools.ietf.org/html/rfc2616#section-3.3.1). This section cites three date formats:

```
      Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
      Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
      Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format
```

The CouchDB `Expires` format satisfies none of these.

 Is the CouchDB `Expires` date format specified somewhere, either in CouchDB documentation or some other RFC?

## Context

I am writing a proxy server which needs to parse the `Expires` value. I couldn't find the place in the CouchDB codebase where it is set.

If there is an Erlang/Elixir library that parses this format, that would also be welcome.

It seems it's using RFC2109

https://tools.ietf.org/html/rfc2109#section-10.1.2

```
10.1.2  Expires and Max-Age

   Netscape's original proposal defined an Expires header that took a
   date value in a fixed-length variant format in place of Max-Age:

   Wdy, DD-Mon-YY HH:MM:SS GMT
```


Thanks @nickva, that looks like the correct format.

I was curious at the phrase `Netscape's original proposal` in RFC2109, which implies that the date format specified there is not normative. RFC2109 also does not define another date format despite making normative statements such as

```
HTTP/1.1 servers must send Expires: old-date (where old-date is a date long in the past)
```

RFC2109 is obsoleted by [RFC2965](https://tools.ietf.org/html/rfc2965), which is in turn obsoleted by RFC6265. The former contains a reference to this undated Netscape proposal, which is no longer available at the cited URL but is hosted here:

https://curl.haxx.se/rfc/cookie_spec.html

```
The date string is formatted as:

Wdy, DD-Mon-YYYY HH:MM:SS GMT
This is based on RFC 822, RFC 850, RFC 1036, and RFC 1123, with the variations that the only legal time zone is GMT and the separators between the elements of the date must be dashes.
```

You may want to update the [Cloudant docs](https://console.bluemix.net/docs/services/Cloudant/api/authentication.html#cookie-authentication), since the example response uses the wrong format for `Expires`.

@kmoe Thanks for digging in and finding the reference to the RFCs.  

So they added a restriction to use dashes and only GMT for timezone. Interesting.

I also found the reason Cloudant's documentation has other date format. It was generated prior to this commit:

https://github.com/mochi/mochiweb/commit/5e682defe214f8f18559a1422843bfb5f637ba68

Noticed in that commit the web server CouchDB uses was switched to generate cookies in  RFC 2109 format from the RFC 1123 one. Don't know the context as it happened 7 years ago.

I'll pass along the request to update the docs, thanks again!


Interesting, thank you. That explains why I couldn't find the code for generating the date in the CouchDB codebase.

To finish answering my original post, `:hackney_date` provides a `rfc2109_to_date` function, which correctly parses the date in the CouchDB Set-Cookie header: 
https://github.com/benoitc/hackney/blob/master/src/hackney_date.erl#L64

I consider this solved with the `mochiweb` reference.