Add support for authentication/authorization using cookies containing JWTs

## Summary

In some scenarios it can be easier/safer to pass JWT tokens to clients through cookies (secure, sameSite, httpOnly, etc) so that they don't store those in localStorage/have to add those themselves to requests to the back-end.

Having CouchDB be able of extracting a JWT from a Cookie in addition/as an alternative to the Authorization header would be beneficial for such scenarios.

## Desired Behaviour

Being able to configure CouchDB to extract JWT tokens from cookies (in addition or as an alternative to the Authorization header).

## Additional context

My project uses a fairly classical high level architecture:
* Back-end system exposing a RESTful API
* Front-end single-page application

The back-end RESTful API issues self-signed JWT tokens and provides those to the SPA through secure/samesite/httpOnly cookies so as to simplify management and keep a good level of security. 

This works fine in our scenario since there's a single origin. When the SPA issues requests against the RESTful API, the cookie containing the JWT token is attached transparently by the user agent.

If that same JWT token could also be trusted by CouchDB (which is now possible with 3.1.0 as far as I understand) and if CouchDB could extract it from the cookie, then our SPA clients could seamlessly authenticate against CouchDB.

For the longer term, OAuth support would indeed be nice, but I can imagine that it is already somewhere on CouchDB's roadmap.


I second this motion. It is said to be best practice to issue JWT's as HTTPOnly cookies meaning that they are not available to client/browser JavaScript. In other words, it is impossible to build a custom header aligning with CouchDB's interface, namely `Authorization: Bearer <JWT token>`

https://docs.couchdb.org/en/stable/api/server/authn.html#jwt-authentication

RFC 6265, HTTP State Management Mechanism

[Section 4.1.2.6.  The HttpOnly Attribute](https://datatracker.ietf.org/doc/html/rfc6265#section-4.1.2.6)

   The HttpOnly attribute limits the scope of the cookie to HTTP
   requests.  In particular, the attribute instructs the user agent to
   omit the cookie when providing access to cookies via "non-HTTP" APIs
   (such as a web browser API that exposes cookies to scripts).

Hi,

you can use JWT tokens without requesting sessions via `_/session` API.

CouchDB only reads JWT's from the `Authorization: Bearer ...` header. That's the issue. In terms of web based app's the only way to send that specific header is to craft it with JavaScript in the browser. _HTTPOnly_ cookies are not available to JavaScript in the browser therefore you can't use _HTTPOnly_ cookies to store the JWT client side and must expose the JWT to client side JavaScript.

What are you trying to achieve? Session cookies and JWT tokens are seperate things. A client can request a session with username/pasword or can authenticate with a JWT token.

I want to authenticate with JWT tokens. I have it working.

Couch requires the JWT be passed in a specific _client request_ HTTP header, namely `Authorization: Bearer <JWT token>`. Right?

How can I set this _client request header_ on the server?

> How can I set this _client request header_ on the server?

Which server do you mean, the CouchDB server?

No the web server. In my case Node.js, or PHP, any web server.

To summarize this and get this correct. Your problem is to add this `Authorization: Bearer <JWT token>` header to your client request, because CouchDB expects this as a http request header to authenticate via JWT token?

Precisely. The JWT is stored in an _HHTPOnly_ cookie on the browser/client. So, how do I set the HTTP `Authorization` header server side?

You can't. You can, however, set HTTP cookies server side. So, we need Couch to look for the JWT in a cookie named _<configurable>_.

The idea is that it is a security measure to _not_ expose the JWT to client side scripting.

> Precisely. The JWT is stored in an _HHTPOnly_ cookie on the browser/client. So, how do I set the clients HTTP `Authorization` header server side?

The JWT token has nothing to do with a session or a cookie. You send it with your request to get access (if correct). How you (securly) store them on your client is a completely different question.

Add support for authentication/authorization using cookies containing JWTs is the issue.

We need Couch to look for JWT's in a cookie.

How to securely store JWT's on your client includes using HTTPOnly cookies which makes it impossible to authenticate to Couch (unless you expose the JWT to client side scripting).

> We need Couch to look for JWT's in a cookie.

How should this work? The server can't send the client the credentials to obtain access. It's the same as when the server would sends the client a username/password combination. 
The client needs to provide the server credentials to authenticate and not the server.

If you want a cookie (httponly - with a JWT token) from the server, how do you authenticate or with what credentials?

CouchDB does not issue JWT's. CouchDB _verifies_ JWTs (vis a vis the `[jwt-keys]` that it is configured with.

CouchDB supports Authentication via JWT so long as the JWT is sent in an HTTP header titled `Authorization`.

CouchDB SHOULD support authentication via JWT sent as an HTTP cookie.

Why? Bcs cookies are more secure in that they can be stored on a client as _HTTPOnly_. 

> CouchDB does not issue JWT's. CouchDB _verifies_ JWTs (vis a vis the `[jwt-keys]` that it is configured with.
> 

I know 😉

> CouchDB supports Authentication via JWT so long as the JWT is sent in an HTTP header titled `Authorization`.
> 

Correct.

> CouchDB SHOULD support authentication via JWT sent as an HTTP cookie.
> 

Ok, and how do you request that cookie? 



CouchDB does request cookies. CouchDB receives cookies.

Another server issues the cookie to the client/browser. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#define_where_cookies_are_sent

> CouchDB does request cookies. CouchDB receives cookies.
> 

I know, you didn’t answer my question. How do you request your cookie?


Cookies are issued browsers by servers. Cookies are not requested, they are received.

A server sends a browser a cookie with a JWT as the value. The browser includes that cookie (that JWT) in _every_ HTTP call to all servers on a domain. 

<img width="1160" alt="image" src="https://github.com/apache/couchdb/assets/12751611/1b23ae80-0bda-4966-bdda-12afedd6177e">


CouchDB sends a cookie if you request a session. To get a session, you need to provide a username/password. If you are authenticated successfully, you will get this session cookie (httponly), which can be used for further requests.

If you have an JWT token, you can send this with a header. If this token is correct, you get access to the system. You have to send this token with every request.

If you have a username/password you don’t need a JWT token for requests or vice-versa. 

This issue seems elusive to you. I'll let someone else run with it.

> This issue seems elusive to you.

No, but you don’t tell me how you want request your cookie (with your token), because you need an authorization before to get the cookie, but when you have an authorization before you don’t need a JWT token anymore, because you can already authenticate against CouchDB.

> I'll let someone else run with it.
🍀

How I get my JWT is not the issue and has nothing to do with CouchDB. I think this is where you might be missing me?

![image](https://github.com/apache/couchdb/assets/12751611/4990bc20-4c3e-456e-b2ee-ee1b3f41cbc2)


Maybe [proxy auth](https://docs.couchdb.org/en/stable/api/server/authn.html#proxy-authentication) is more suitable for you?

Proxy auth does not remedy this issue and is not related to this issue.

We don't want to expose JWT's to client/browser JavaScript. CouchDB accepting JWT via cookies is the remedy.

RFC 6750, § 5.3,

> Don't store bearer tokens in cookies:  Implementations MUST NOT store
      bearer tokens within cookies that can be sent in the clear (which
      is the default transmission mode for cookies).  Implementations
      that do store bearer tokens in cookies MUST take precautions
      against cross-site request forgery.



Unless someone can point to an RFC or other authoritative source I don't think CouchDB will support receiving JWT's in a cookie. We require them to be sent as bearer tokens.  

There is no "need" for us to do so. We are well-versed in the various cookie properties, including HttpOnly.

I'm not understanding why you refuse to allow app developers to take advantage of http cookies as bearers of auth tokens just like Couch does?

"CouchDB supports cookie authentication" [[source](https://docs.couchdb.org/en/stable/intro/security.html#cookie-authentication)] **_unless you use JWT authentication_**. SHOULD be added to documentation.

> "CouchDB supports cookie authentication" [[source](https://docs.couchdb.org/en/stable/intro/security.html#cookie-authentication)] **_unless you use JWT authentication_**. SHOULD be added to documentation.

How do you arrive at this view?

Such documentation clarifies that CouchDB team understands the use case and benefit(s) for cookie authentication and explicitly refuses to extend these benefits to the JWT handler [Issue# 2873](https://github.com/apache/couchdb/issues/2873).

enough of this.